/**
 * Animations
 */
 .delay-3 {
   animation-delay: 0.3s;
 }
 .delay-6 {
   animation-delay: 0.6s;
 }
 .delay-9 {
   animation-delay: 0.9s;
 }
 .delay-12 {
   animation-delay: 1.2s;
 }
/**
 * Typography
 */
 @font-face {
   font-family: 'Montserrat Regular';
   src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Bold';
   src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Light';
   src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Italic';
   src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Regular';
   src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Bold';
   src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Italic';
   src: url("fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
   font-display: swap;
 }
 .mon-reg {
   font-family: 'Montserrat Regular', "Helvetica", "Arial", sans-serif;
 }
 .mon-bold {
   font-family: 'Montserrat Bold', "Helvetica", "Arial", sans-serif;
 }
 .mon-light {
   font-family: 'Montserrat Light', "Helvetica", "Arial", sans-serif;
 }
 .mon-italic {
   font-family: 'Montserrat Italic', "Helvetica", "Arial", sans-serif;
 }
 .open-reg {
   font-family: 'Open Regular', "Helvetica", "Arial", sans-serif;
 }
 .open-bold {
   font-family: 'Open Bold', "Helvetica", "Arial", sans-serif;
 }
 .open-italic {
   font-family: 'Open Italic', "Helvetica", "Arial", sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat Bold", "Helvetica", "Arial", sans-serif;
   word-break: break-word;
 }
 body, p {
   font-family: "Open Regular", "Helvetica", "Arial", sans-serif;
 }
 a {
   color: rgba(255, 255, 255, 0.8);
 }
 a:visited {
   color: rgba(255,255,255, 0.7);
 }
 a:hover {
   color: rgba(255,255,255, 1);
 }
 a[aria-current="page"] {
   color: #EEC584 !important;
 }
 textarea {
   border: 1px solid #d1d1d1;
   padding: 1rem;
   height: 10rem;
 }
 .main-navigation {
   padding-left: 1rem;
 }
 .side-nav a {
   color: rgba(0,0,0, 0.8);
 }
.side-nav a:visited {
  color: rgba(0,0,0, 0.6);
}
.side-nav a:hover {
  color: rgba(0,0,0, 0.3);
}
.brand-logo {
  font-family: "Montserrat Bold", "Helvetica", "Arial", sans-serif;
}
.page-footer li a {
  color: rgba(255,255,255, 1);
}
.footer-copyright a {
  color: #EEC584;
}
/**
 * Contact Form 7
 **/
.wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
    line-height: 1.7rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 0;
    padding: 10px;
    line-height: 1.7rem;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
div.wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
    font: 26px/30px dashicons;
    margin-right: 16px;
    vertical-align: middle;
}
div.wpcf7-mail-sent-ok:before {
    content: "\f147";
}
div.wpcf7-validation-errors:before {
    content: "\f158";
}
.contact-submit {
    text-align: center;
}


/**
 * Slick Slider
 */
 .slick-prev {
   content: 'previous';
   width: 50px;
   height: 50px;
   background-color: red;
 }
 .slick-next {
   content: 'next';
 }

 /**
  * General
  */
  .home-section .title {
    font-size: 2rem;
    text-transform: uppercase;
  }
  .home-section .title span {
    font-family: 'Montserrat Light', "Helvetica", "Arial", sans-serif;
  }

  /*--- Modal ---*/
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0) /* Fallback Color */
    backgorund-color: rgba(0,0,0, 0.4);
  }
  .modal-content {
    background-color: #ececec;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


 /**
  * Internal
  */
  .general.header {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 3rem 3rem 3rem 1rem;
  }
  .general-header h1 {
    font-size: 15vw;
  }
  .default-page-container .container {
    padding: 2rem 0;
  }
  .breadcrumbs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #E59F71;
    z-index: 777;
    box-shadow: none;
    padding-left: 3rem;
  }
  .site-content .widget-area {
    padding: 2rem;
  }

  /*--- Archive Page ---*/
  .archive-category .archive {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
  }

 /**
  * Home Page
  */
  #test {
    opacity: 0;
  }
  .home-section.contain {
    padding: 5vh 5vw;
  }

  /*--- Hero Banner ---*/
  .home-section.hero {
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 15%;
    background-attachment: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
  .home-section.hero h1 {
    line-height: 4rem;
    font-size: 3.5rem;
  }

  /*--- Product Section ---*/
  .home-section.product .card-title {
    font-size: 1.7rem;
  }

  .home-section.product a {
    font-size: 0.7rem;
  }


  /*--- About Section ---*/
  .home-section.about {
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: -130% 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 77vh;
  }
  .home-section.about p {
    width: 85%;
  }

  /*--- Contact Section ---*/
  .home-section.contact .content {
    padding-bottom: 1rem;
  }
  .home-section.contact .header {
    background-color: #EEC584;
    color: white;
    text-align: center;
    padding: 2rem 1rem;
  }
  .home-section.contact  ul input {
    border-bottom: 1px solid #d1d1d1 !important;
  }
  .home-section.contact .header {
    position: relative;
  }
  .home-section.contact .header::after {
    content: '';
    width: 100%;
    height: 2rem;
    background-color: #EEC584;
    position: absolute;
    bottom: -1rem;
    left: 0;
    clip-path: polygon(50% 102%, 24% 0, 76% 0);
    z-index: 777;
  }
  .home-section.contact a {
    display: block;
    margin: 3rem auto 1rem;
  }
  .home-section.contact  li {
    display: flex;
    flex-direction: row;
    margin: 1rem;
  }
  .home-section.contact .icon {
    flex: 0 0 4rem;
    padding: 1rem;
    margin-right: 1rem;
    background-color: #E59F71;
  }
  .home-section.contact textarea {
    height: 10rem !important;
  }


  /**
   * Feature Section
   */
   .home-section.feature .header, .home-section.feature .content {
     background-color: #ececec;
     padding: 1rem;
   }
   .home-section.feature .card-image {
     background-color: #4DB6AC;
     display: flex;
     padding: 1rem;
     position: relative;
   }
   .home-section.feature .card-image::after {
     content: '';
     background-color: #4DB6AC;
     clip-path: polygon(0 60%,0 40%,100% 50%);
     height: 100%;
     width: 1.5rem;
     position: absolute;
     right: -1.5rem;
     top: 0;
   }
   .home-section.feature .card-image img {
     width: 20vw !important;
   }
   .home-section.feature ul {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
   }

  /**
   * Tablet & Up
   */
  @media screen and (min-width: 750px) {

    /**
     * Default Page
     */
     .general.header {
       height: 50vh;
       display: flex;
       align-items: flex-end;
     }
    /**
     * Home Page
     */
     .home-section.contain {
       padding: 5vh 15vw;
     }

     /* Hero Banner */
     .home-section.hero {
       flex-direction: row;
       padding: 10vh 10vw;
       background-size: 20%;
       background-position: 5% 100%;
       position: relative;
     }
     .home-section.hero svg {
       flex: 0 0 50%;
       margin-right: 2rem;
       position: relative;
     }

     /*--- Product Section ---*/
     .home-section.product .card-title {
       font-size: 1.5rem;
     }
     .home-section.product img {
       width: 100%;
     }
     .home-section.product .slick-slide {
       margin: 0 0.5rem;
     }
     .home-section.product .slick-list {
       margin: 0 -0.5rem;
     }

     /*--- About Section ---*/
     .home-section.about {
       background-size: 25%;
       background-position: bottom right;
       height: unset;
       display: flex;
       align-items: flex-start;
       justify-content: center;
     }

     /*--- Feature Section ---*/
     .home-section.feature  .card-image {
       max-width: 15% !important;
     }
     .home-section.feature ul {
       display: flex;
       flex-direction: row;
       align-items: flex-start;
     }
     .home-section.feature li {
       width: 100%;
     }


      /*--- Contact Section ---*/
      .home-section.contact .contact {
        padding-bottom: 3rem;
      }
      .home-section.contact ul {
        width: 50%;
        padding: 2rem 0;
        margin: 3rem auto;
        background-color: #E59F71;
        border-radius: 7px;
      }
      .home-section.contact li {
        justify-content: center;
      }
      .home-section.contact input::placeholder, .home-section.contact input, .home-section.contact textarea::placeholder {
        color: white;
      }

    .search .site-content {
      display: flex;
      align-items: flex-start;w
      justify-content: flex-start;
    }
    .site-content .widget-area {
      padding-top: 2rem;
      background: linear-gradient(
        to bottom,
        rgba(238, 197, 132, 1),
        rgba(238, 197, 132, 1) 100%);
      flex: 0 0 25%;
      z-index: 555;
      color: white;
    }

    /**
     * Blog Page
     */
     .blog .archive {
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       flex-wrap: wrap;
       padding: 0 10vw;
     }
     .blog .archive article {
       flex: 0 0 33%;
     }

     /**
      * Default Page
      */
      .default-page-container .wrap {
        display: flex;
      }
      .single-post-container .container {
        padding: 2rem 3rem;
      }
  }


  @media screen and (min-width: 1200px) {
    /**
     * Home Sections
     */
    .home-section.title {
      font-size: 4rem;
    }

    .home-section.hero p {
      font-size: 1.5rem;
      line-height: 3rem;
    }

    .home-section.about p {
      font-size: 1.3rem;
    }

    /*--- Contact Section ---*/
    .home-section.contact {
      padding: 0 15vw 5vw;
    }
  }
