/**
 * Typography
 */
 @font-face {
   font-family: 'Montserrat Regular';
   src: url("fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Bold';
   src: url("fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Light';
   src: url("fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Montserrat Italic';
   src: url("fonts/Montserrat/Montserrat-Italic.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Regular';
   src: url("fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Bold';
   src: url("fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype");
   font-display: swap;
 }
 @font-face {
   font-family: 'Open Italic';
   src: url("fonts/Open_Sans/OpenSans-Italic.ttf") format("truetype");
   font-display: swap;
 }
 .mon-reg {
   font-family: 'Montserrat Regular', "Helvetica", "Arial", sans-serif;
 }
 .mon-bold {
   font-family: 'Montserrat Bold', "Helvetica", "Arial", sans-serif;
 }
 .mon-light {
   font-family: 'Montserrat Light', "Helvetica", "Arial", sans-serif;
 }
 .mon-italic {
   font-family: 'Montserrat Italic', "Helvetica", "Arial", sans-serif;
 }
 .open-reg {
   font-family: 'Open Regular', "Helvetica", "Arial", sans-serif;
 }
 .open-bold {
   font-family: 'Open Bold', "Helvetica", "Arial", sans-serif;
 }
 .open-italic {
   font-family: 'Open Italic', "Helvetica", "Arial", sans-serif;
 }

 h1, h2, h3, h4, h5, h6 {
   font-family: "Montserrat Bold", "Helvetica", "Arial", sans-serif;
   word-break: break-word;
 }
 body, p {
   font-family: "Open Regular", "Helvetica", "Arial", sans-serif;
 }
 a {
   color: rgba(255, 255, 255, 0.8);
 }
 a:visited {
   color: rgba(255,255,255, 0.7);
 }
 a:hover {
   color: rgba(255,255,255, 1);
 }
 .main-navigation {
   padding-left: 1rem;
 }
 .side-nav a {
   color: rgba(0,0,0, 0.8);
 }
.side-nav a:visited {
  color: rgba(0,0,0, 0.6);
}
.side-nav a:hover {
  color: rgba(0,0,0, 0.3);
}

 /**
  * Internal
  */
  .general.header {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 3rem 3rem 3rem 1rem;
  }
  .general-header h1 {
    font-size: 15vw;
  }
  .breadcrumbs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }
  .site-content {
    margin: 0 auto 2rem;
  }
  .site-content .widget-area {
    padding: 2rem;
  }

  /*--- Archive Page ---*/
  .archive-category .archive {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
  }

 /**
  * Home Page
  */
  .home-section.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  /**
   * Tablet
   */
  @media screen and (min-width: 770px) {
    .search .site-content {
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .site-content .widget-area {
      padding-top: 2rem;
    }

    /**
     * Blog Page
     */
     .blog .archive {
       display: flex;
       align-items: flex-start;
       justify-content: flex-start;
       flex-wrap: wrap;
       padding: 0 10vw;
     }
     .blog .archive article {
       flex: 0 0 33%;
     }
  }
